{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

{% if app.user %}
    <section class="sectionRefus">
        <div class="sectionRefus--container">
            <p class="sectionRefus--text">Vous êtes déjà connecté !</p>
        </div>
    </section>
{% else %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section class="sectionForm">
        <div class="sectionForm--container sectionForm--container--third">
            
            <form action="{{ path('connexion') }}" method="post">
            <p class="sectionForm--connect">Connexion<p>
                <div class="sectionForm__form--container">
                    <div>
                        <label for="username">E-mail:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                </div>
                
                <div class="sectionForm__form--container">
                    <div>
                        <label for="password">Mot de passe :</label>
                        <input type="password" id="password" name="_password" />
                    </div>
                </div>


                <input type="hidden" name="_target_path" value="/" />
                <div class="sectionForm__form--container">
                    <div>
                        <button type="submit">Connexion</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endif %}

{% endblock %}
