{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user %}
    <section class="sectionForm">
        <div class="sectionForm--container">
            {{ form_start(form) }}
                <div class="sectionForm__form--container">
                    {{ form_row(form.Title) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.contrat) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.typeContrat) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.fin_mission) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.Description) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.Adresse) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.Code_postal) }}
                </div>
                <div class="sectionForm__form--container">
                    {{ form_row(form.Submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </section>
     {% else %}
    <section class="sectionRefus">
        <div class="sectionRefus--container">
            <p class="sectionRefus--text">Veuillez vous connecter.</p>
        </div>
    </section>
    {% endif %}
    <script>
    function isChecked(){
        let select = document.getElementById("form_contrat");
        let select_2 = select.options[select.selectedIndex];
        if(select_2.innerHTML === "CDI") {
            document.getElementById("form_fin_mission").style.display = "none";
            document.getElementById("label").style.display = "none";
        } else {
            document.getElementById("form_fin_mission").style.display = "block";
            document.getElementById("label").style.display = "block";
        }
     }
    </script>

{% endblock %}