.list {
    &-li {
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 10px 10px 0 0;
        -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.28);
        -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.28);
        box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.28);
        &:hover {
            opacity: 0.5;
        }
    }
    &-tasks-link {
        color: #9393A8;
        padding-left: 22%;
        font-size: 2vh;
    }
    &-empty {
        padding-top: 10%;
        text-align: center;
        font-size: 4vh;
        font-weight: bold;
    }
    &-new {
        display: flex;
        justify-content: space-around;
        &-container {
            margin-top: 2%;
            padding-left: 3%;
        }
    }
    &-label {
        color: #9393A8;
        font-size: 3vh;
    }
    &-input {
        border: none;
        border-bottom: 0.125rem solid rgba(19, 19, 21, 0.6);;
        width: 30%;
        height: 1.5rem;
        font-size: 1.0625rem;
        padding-left: 0.875rem;
        line-height: 147.6%;
        padding-top: 0.825rem;
        padding-bottom: 0.5rem;
        &:hover {
            background: rgba(73, 133, 224, 0.12);
	        border-color: #121212;
        }
    }
    &-button {
        margin: auto;
        background: #F5B5B6;
        background-image: -webkit-linear-gradient(top, #F5B5B6, #F67375);
        background-image: -moz-linear-gradient(top, #F5B5B6, #F67375);
        background-image: -ms-linear-gradient(top, #F5B5B6, #F67375);
        background-image: -o-linear-gradient(top, #F5B5B6, #F67375);
        background-image: -webkit-gradient(to bottom, #F5B5B6, #F67375);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: #FFFFFF;
        font-family: Open Sans;
        font-size: 2vh;
        font-weight: 100;
        padding: 15px;
        border: none;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
            &:hover {
                background: #F67375;
                background-image: -webkit-linear-gradient(top, #F67375, #F67375);
                background-image: -moz-linear-gradient(top, #F67375, #F67375);
                background-image: -ms-linear-gradient(top, #F67375, #F67375);
                background-image: -o-linear-gradient(top, #F67375, #F67375);
                background-image: -webkit-gradient(to bottom, #F67375, #F67375);
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-decoration: none;
            }
    }
}

.sectionList__list {
    padding-left: 0;
}

.panel-buttons {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 3%;
}
.icon-trash:svg {
    width: 150px;
}