.sectionTask {
    width: 40%;
    margin: auto;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 3%;
    -webkit-box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.59);
    -moz-box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.59);
    box-shadow: 5px 5px 20px 3px rgba(0,0,0,0.59);
    &__header {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 64%, rgba(235,233,233,1) 100%);
        border-bottom: 2px solid #e8e8e8;
        border-radius: 20px 20px 0px 0px;
        position: relative;
        &--container {
            display: flex;
            justify-content: space-around;
            &--left {
                color: rgb(87,92,228);
                width: 40%;
                text-align: left;
                margin-top: 5%;
                margin-left: 8%;
                &--jour {
                    font-size: 7vh;
                }
                &--mois {
                    color: #BFBFCE;
                    font-weight: 600;
                    font-size: 3vh;
                }
            }
            &--right {
                &--add {
                    position: absolute;
                    color: white;
                    background-color: #F06E6F;
                    height: 80px;
                    width: 80px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 5vh;
                    line-height: 70px;
                    z-index: 100;
                    top: -1em;
                    left: 80%;
                    transition: transform .2s;
                    text-transform: none;
                    &:hover {
                        transform: scale(1.1);
                        text-transform: none;
                        color: white;
                    }
                }
                &--nbtasks {
                    margin-top: 55%;
                    padding-right: 60%;
                    font-size: 3vh;
                    width: 100%;
                }
            }
        }
    }
    &__list {
        position: relative;
    }
    &__task {
        position: relative;
    }
}