.sectionHeader {
    width: 100%;
    background: #16130d;
    &__container {
        display: flex;
        width: 30%;
        padding-left: 5%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;

    }
    &--img {
        max-width: 15%;
        height: auto;
        display: block;
    }
    &--text {
        color: #e9ecf2;
        margin-top: 3%;
        padding-left: 1%;
    }
}