.task {
    &-li {
        border-bottom: 2px solid #D2D2E2;
        &-container {
            padding-left: 0;
        }
        & input[type=checkbox] {
            height: 18px;
            width: 18px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            appearance: none;
            border: 2px solid #D2D2E2;
            border-radius: 4px;
            outline: none;
            transition-duration: 0.3s;
            margin-top: 3%;
            margin-bottom: 0;
            margin-left: 12%;
            margin-right: 2%;
            text-align: center;
            &:checked {
                border: 1px solid #FB6C6D;
                background-color: #FB6C6D;
                & + label {
                    text-decoration: line-through;
                    color: #D2D2E2;
                    font-size: 2vh;
                }
            }
            &:after {
                content: "\2713";
                color: white;
                margin: auto;
            }
        }
    }
    &-label {
        font-size: 2vh;
    }
    &-p {
        margin-left: 16%;
        font-size: 2vh;
    }
    &-new {
        margin-left: 3%;
    }
    &-input {
        margin-left: 3%;
    }
}