/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	border: 0;
	font-size : 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.link {
	text-decoration: none;
	color: black;
}

/* ----- FONT ----*/

@font-face {
 font-family: "Nunito";
 src: url("../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
 font-family: "Nunito Bold";
 src: url("../assets/fonts/Nunito-Bold.ttf");
}

/* ----- HEADER ------ */

.header__background {
	background-color: #F7FBFE;
}
.header__logo {
	margin: 0 auto;
	display: block;
	padding-top: 2%;
}

.menu__container {
	display: flex;
	margin: 2% auto;
	width: 45%;
	justify-content: space-around;
	font-size: 3.8vh;
}

.menu__link {
	text-decoration: none;
	color: #C79C6E;
	transition: transform .2s;
}

.menu__link:hover {
	transform: scale(1.30);
}

.menu__link--input {
	background: none;
	border: none;
	font-size: 3.6vh;
	padding: 0;
	margin: -40px;
}

.menu__item {
	font-family: "Nunito Bold";
}

.header__line {
	height: 2px;
	background-color: grey;
	width: 50%;
	margin: 0 auto;
}

/* --- ACCEUIL ---*/

.sectionAcceuil__title {
	font-size: 9.1vh;
	text-align: center;
	color: #1F1F1F;
	width: 70%;
	margin: 0 auto;
	padding-top: 3%;
	font-family: "Nunito Bold";
}

.sectionAcceuil__bg {
	background-image: url('../assets/images/background_homepage.png');
	height: 75vh;
	background-position: 70%;
}

/*--- ANNONCE ----*/

.annonceSection__container {
	background: #F7FBFE;
	display: flex;
	justify-content: space-around;
	min-height: 100vh;
}

/*--- PATOUNE ---*/

.patoune__container {
	display: flex;
	flex-direction: column;
	height: 60vh;
	width: 10%;
	justify-content: space-between;
}

.patoune__left {
	width: 30%;
	margin-left: 70%;
}

.patoune__right {
	width: 30%;
	margin-left: 30%;
}

/*-- ANNONCE --*/

.annonce__container {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 3%;
	padding-right: 3%;
}

.annonce__item {
	padding: 25%;
	background-color: white;
	border-radius: 10px;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}
.annonce__link {
	width: 30%;

}

.annonce__item:hover {
	background-color: #e2e2e2;
}


.annonce__nom {
	font-family: "Nunito Bold";
	font-size: 3vh;
	padding-top: 2%;
}

.annonce__race {
	font-family: "Nunito";
	font-size: 2vh;
	padding-top: 3%;
}

/*--- ARTICLE ---*/

.articleSection__container {
	background: #F7FBFE;
	display: flex;
	justify-content: space-around;
}

.articleSection__item {
	width: 60%;
}

.article__container {
	text-align: center;
	width: 50%;
	height: 55vh;
	padding-top: 3%;
	margin: 4% auto;
	background-color: white;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}

.annonceDescription__container {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.annonceDescription__item {
	padding: 4%;
	width: 38%;
	background-color: white;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}

.annonceDescription__title {
	color: #C79C6E;
	font-family: "Nunito Bold";
	font-size: 1.6vh;
	margin-bottom: 10%;

}

.annonceDescription__description {
	text-align: left;
	font-family: "Nunito";
	font-size: 1.6vh;
	line-height: 23px;
}

.annonceDescription__subtitle {
	font-family: "Nunito Bold";
}

/*--- FORM SECTION ----*/

.formSection__container {
	background: #F7FBFE;
	display: flex;
	justify-content: space-around;
}

.form__container {
	width: 50%;
}

.form__form {
	display: flex;
	flex-direction: column;
	padding: 1% 5%;
	width: 50%;
	margin: 4% auto;
	background-color: white;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}

.form__label {
	font-family: "Nunito Bold";
	font-size: 1.6vh;
	padding-bottom: 2%;
	padding-top: 5%;
}

.form__label--admin {
	padding-top: 10%;
	margin-left: 23%;
	padding-bottom: 3%;
}

.form__input {
	width: 80%;
	height: 2.5vh;
	background: #E2E8EB;
	border-radius: 5px;
	border: none;
}

.form__input--msg {
	padding-bottom: 27%;
	resize: none;
}

.form__input--admin {
	width: 60%;
	margin: 0 auto;
}

.form__button {
	display: block;
	margin: 5% auto;
	width: 40%;
	background: #6E7D88;
	border-radius: 10px;
	border: none;
	color: white;
	font-size: 2.8vh;
	text-transform: uppercase;
	padding: 18px;
}

.form__button:hover {
	background: #454d54;
}

.form__button--admin {
	width: 60%;
	margin-top: 10%;
}

.form__confirm {
	text-align: center;
	font-size: 2.5vh;
	font-family: "Nunito Bold";
	color: red;
}

/*---- LISTE ----*/

.listeSection__container {
	display: flex;
	justify-content: space-around;
	background: #F7FBFE;
	min-height: 75vh;
}

.error_msg {
	width: 45%;
	margin-top: 10%;
	color: red;
	font-size: 7vh;
	font-family: "Nunito Bold";
}

.table__container {
	width: 45%;
	height: 55vh;
	margin: 2% auto;
	background-color: white;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}

.liste__container {
	width: 90%;
	margin: 3% auto;
	border-collapse: separate;
	border-spacing: 0 1.5vh;
}

.liste__item {
	width: 10%;
	height: 5vh;
	background-color: #F1F5F8;
	border-radius: 50px;
	color: #1F1F1F;
	margin: 3% auto;
}

.liste__title {
	color: #C79C6E;
	font-family: "Nunito Bold";
	font-size: 2vh;
	text-align: left;
	vertical-align: middle;
	text-align: center;
}

.liste__txt {
	margin-left: 5%;
	font-family: "Nunito Bold";
	font-size: 1.6vh;
	text-align: center;
	vertical-align: middle;
}

.liste__link {
	vertical-align: middle;
	text-align: center;
	background: #6E7D88;
	color: white;
	font-family: "Nunito Bold";
	font-size: 1.6vh;
	margin: 2px 2px;
	border-radius: 10px;
}

.liste__link:hover {
	background: #aebbc4;
}

.white {
	color: white;
}

.liste__input {
	border-radius: 50%;
	border: none;
	background-color: #FA1D1D;
	color: white;
	height: 30px;
	width: 30px;
}

.input__placement {
	vertical-align: middle;
	text-align: center;
}


/*---- ADD SECTION ----*/
.addSection__container {
	background: #F7FBFE;
	display: flex;
	justify-content: space-around;
	min-height: 75vh;
}

.add__container {
	width: 50%;
}

.add__form {
	display: flex;
	flex-direction: column;
	padding: 1% 5%;
	width: 50%;
	margin: 4% auto;
	background-color: white;
	border-radius: 20px;
	color: #1F1F1F;
	-webkit-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
	box-shadow: -2px 3px 36px -8px rgba(0,0,0,0.75);
}

.add__title {
	font-size: 2.8vh;
	color: #C79C6E;
	text-align: center;
	font-family: "Nunito Bold";
}

.addItem__container {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.item {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.add__label {
	font-family: "Nunito Bold";
	font-size: 1.6vh;
	padding-bottom: 2%;
	padding-top: 5%;
}

.add__input {
	width: 80%;
	height: 2.5vh;
	background: #E2E8EB;
	border-radius: 5px;
	border: none;
}



.add__input--msg {
	padding-bottom: 20%;
	resize: none;
}

.add__button {
	display: block;
	margin: 5% auto;
	width: 40%;
	background: #6E7D88;
	border-radius: 20px;
	border: none;
	color: white;
	font-size: 2.8vh;
	text-transform: uppercase;
	padding: 12px;
}

.add__button:hover {
	background: #454d54;
}



