<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} Prolo emploi
			{% endblock %}
		</title>
		{% block stylesheets %}

            <!-- Renders a link tag (if your module requires any CSS) -->
            <link rel="stylesheet" type="text/css" href="/build/app.scss">
			<script type="module" src="/build/app.js"></script>

			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header class="sectionHeader">
				<div class="sectionHeader__container">
					<div class="sectionHeader__left">
						<img src="/build/images/logo.png" class="sectionHeader__left--img" title="logo" alt="Le logo de notre entreprise polo emploi">
					</div>
					<div class="sectionHeader__right">
						<a class="sectionHeader--link" href="/">Accueil</a>
						<div class="sectionHeader--square"></div>
						<a class="sectionHeader--link" href="/article">Annonces</a>
						<div class="sectionHeader--square"></div>
						{% if app.user %}
							<a class="sectionHeader--link" href="/tableau">Tableau de bord</a>
							<div class="sectionHeader--square"></div>
							<a class="sectionHeader--link" href="/logout">Déconnexion</a>
						{% else %}
							<a class="sectionHeader--link" href="/register">S'inscrire</a>
							<div class="sectionHeader--square"></div>
							<a class="sectionHeader--link" href="/connexion">Connexion</a>
						{% endif %}
						
					</div>
				</div>			
			</header>
			{% for message in app.flashes('success') %}
    			<div class="flash-notice">
        			{{ message }}
    			</div>
			{% endfor %}
		{% endblock %}
		{% block body %}
		
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>