{% extends 'base.html.twig' %}

{% block body %}
    <section class="sectionAccueil">
        <div class="sectionAccueil__container">
            <p class="sectionAccueil__text">Trouvez le travail de vos rêves !</p>
            <a href="/article" class="sectionAccueil__lien">Je change de vie !</a>
        </div>
    </section>
{% endblock %}
