{% extends 'base.html.twig' %}

{% block body %}
    <section class="sectionArticle">
                <div class="sectionArticle__container">
                    <div class="sectionArticle__container--first">
                        <div class="sectionArticle__container--first--left">
                            <p class="sectionArticle__container--first--left--contrat">{{offres.contrat}}, {{offres.typecontrat}}</p>
                            <img class="sectionArticle__container--first--left--img" src="/build/images/perso_icon.png" alt="une icone de personne">
                        </div>
                        <div class="sectionArticle__container--first--right">
                        </div>
                    </div>
                    <div class="sectionArticle__container--second">
                        <div class="sectionArticle__container--second--right">
                            <p class="sectionArticle__container--second--right--title">{{offres.title}}</p>
                            <p class="sectionArticle__container--second--right--dateCreation">Créé le : {{offres.dateCreation |date("d/m/Y")}}</p>
                            <p class="sectionArticle__container--second--right--dateCreation">Modifié le : {{offres.dateUpdate |date("d/m/Y")}}</p>
                            <p class="sectionArticle__container--second--right--dateCreation">Fin de contrat (si CDD ou Free) : {{offres.finMission |date("d/m/Y")}}</p>
                            <p class="sectionArticle__container--second--right--adresse">{{offres.adresse}}, {{offres.codePostal}}</p>
                        </div>
                        <div class="sectionArticle__container--second--left">
                            <p class="sectionArticle__container--second--left--description">{{offres.description}}</p>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}
