.calculator {
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 10%;
	&__item {
		font-family: "Britannic";
		text-transform: uppercase;
		width: 60%;
	}
	&__number {
		display: flex;
		justify-content: space-around;
		font-size: 10vw;
		padding-top: 5%;
		width: 100%;
	}
	&__button {
		background: transparent;
		border: none;
		font-family: "Britannic";
		font-size: 15vw;
		@include md {
			font-size: 4vw;
		}
	}
	&__nb {
		font-size: 15vw;
		@include md {
			font-size: 4vw;
		}
	}
	&__txt {
		font-size: 5vw;
		@include md {
			font-size: 2vw;
		}
	}
}