.sectionRecipeInterlude {
	text-align: center;
	background: url('../assets/images/bg_bubble.jpg') no-repeat;
	background-size: cover;
	padding: 10% 0;
	@include md {
		padding: 2%;
	}
	&__title {
		font-family: "American Purpose";
		font-size: 8vw;
		width: 60%;
		display: block;
		margin: 0 auto;
		padding: 3% 0;
		@include md {
			font-size: 3vw;
			width: 35%;
			padding: 2% 0;
		}
		&--strawberry {
			border-top: 4px solid #BF3030;
			border-bottom: 4px solid #BF3030;
		}
		&--mint {
			border-top: 4px solid #29914D;
			border-bottom: 4px solid #29914D;
		}
		&--cherry {
			border-top: 4px solid #BB0B0B;
			border-bottom: 4px solid #BB0B0B;
		}
	}
	&__description {
		font-family: "American Purpose";
		font-size: 5vw;
		padding: 5% 0;
		width: 80%;
		display: block;
		margin: 0 auto;
		@include md {
			font-size: 2.5vw;
			width: 60%;
		}
	}
	&__button {
		background: transparent;
		font-family: "Britannic";
		font-size: 5vw;
		width: 70%;
		display: block;
		margin: 0 auto;
		text-transform: uppercase;
		padding: 2% 2%;
		@include md {
			font-size: 2.5vw;
			width: 40%;
			padding: 0.5% 0.5%;
		}
	}
}