.sectionEquipment {
	&__containerTitle {
		text-align: center;
		font-family: "American Purpose";
		font-size: 10vw;
		padding: 1% 0%;
		@include md {
			font-size: 3vw;
		}
	}
	&__bgLemon {
		background: url("../assets/images/bg_lemon.jpg") no-repeat;
		background-size: cover;
		padding: 5%;
	}
}